* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Archivo, "source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 220px;
    height: 100%;
    background:#F28705;
    padding: 30px 0;
}
.logocorner {
    height: auto;
    width: 220px;
    max-height: 96px;
    z-index: 1;
    position: absolute;
}
.wrapper .sidebar h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    position: relative;
    top: 66px;
}
.wrapper .sidebar ul li a{
    display: block;
}
.wrapper .sidebar ul li:hover{
    background:rgba( 230, 180, 160, 0.8 );
}
.wrapper .sidebar ul li{
    transition: all 0.2s;
}
.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    margin-left: 22px ;   
}

.row {
    margin-bottom: 52px;
    width: 220px;
}
#linkedinlogo {
    margin-left: 10px;
}

.wrapper .sidebar .social_media div a {
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 0px 5px;
    border: 2px solid rgb(35, 37, 33);
    background-color: rgba(30, 30, 40, 0.8 );
    border-radius: 4px;
    transition: all 0.5s;
    text-align: center;
}
.wrapper .sidebar .social_media div a:hover {
    transform: scale( 1.2 );
    box-shadow: -1px 2px 7px -2px rgba(0,0,0,0.75);
}
.wrapper .main{
    width: 100%;
    margin-left: 200px;
}
.header {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;

}
h1 {
    color: #f04c25;
    font-size: 36px;
    line-height: 26px;
    font-weight: 600;
    position: relative;
    top: 25px;
}
h2 {
    color: #009cab;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}
p {
    color: #111111;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    width: 960px;
}

figure {
    float: right;
    margin: 0 20px 20px 0;
}
figure .homepic {
    position: relative;
    width: 100%;
    object-fit: contain;
    top: 50px;
}
.sidebar a {
    color: white;
}
em, strong{
    color: rgb(77, 77, 77);
}

h2 {
    color: green;
}
p {
    font-size: 16px;
}
article, section {
    padding: 10px 0px 10px 10px;
}

.emphasize {
    color: #F28705;
}